
.skills-content{
  padding: 35px 0px;
  min-width: auto;
  background: #7d7d9c40;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  border-radius: 10px;
  border: 1.5px solid #fff;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
}

.skill-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: #ffffff67;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  border-radius: 12px;
  border: 1.5px solid #fff;
}

/* .css-logo{
  width: 70px;
  height: 100px;
} */

.skill-logo:hover{
  background: #0000002b;
}

@media screen and (max-width: 1300px) {
  .skills-content{
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-width: 1070px) {
  .skills-content{
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 650px) {
  .skills-content{
    grid-template-columns: auto auto;
    padding: 25px 10px;
    gap: 10px;
  }

  .skill-logo{
    width: 120px;
    height: 120px;
  }
}