#contact {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    background-color: #c0c0fc40;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 2px solid white;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  }
  
  .section-heading{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .section-heading h4{
    line-height: 40px;
    font-size: 28px;
    font-weight: 900;
    color: #5757ef;
    text-align: center;
    text-transform: uppercase;
  }
  .section-heading p{
    line-height: 15px;
    font-size: 16px;
    font-weight: 500;
  }
  
  input, textarea {
    width: 100%;
    position: relative;
    display: block;
    background-color: #f4f7fb;
    font-size: 12px;
    font-weight: 500;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    outline-color: #5757ef;
  }
  
  input {
    height: 40px;
    padding: 0 15px;
  }
  
  textarea {
    min-height: 140px;
    max-height: 180px;
    padding: 15px;
    resize: none;
  }
  
  .valid_info_name, .valid_info_email, .valid_info_message{
    display: inline-block;
    font-size: 13px;
    margin: 5px 2px;
  }
  
  .valid {
    border: 2px solid green;
    outline-color: green;
  }
  
  .invalid {
    border: 2px solid red;
    outline-color: red;
  }
  
  .btn {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  #form-submit {
    position: relative;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background: #5757ef;
    background: linear-gradient(-145deg, #5757ef 0%, #0d0d6e 100%);
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    transition: all .3s;
  }
  
  /* #form-submit:disabled {
    border: 1px solid #9e9e9e;
    background: transparent;
    color: #9e9e9e;
    transition: none;
    transform: none;
    cursor: default;
  }
  
  #form-submit:hover:disabled{
    border: 1px solid #9e9e9e;
    color: #9e9e9e;
    background: transparent;
    transition: none;
    transform: none;
    cursor: default;
  } */
  
  button:active {
      transform: scale(0.95);
  }
  
  button:focus {
      outline: none;
  }
  
  button.ghost {
      background-color: transparent;
      border-color: #FFFFFF;
  }
  
  