

@media(max-width: 770px){
  .section-content{
    flex-direction: column;
    min-width: 90%;
  }
  #projects .section-content{
    flex-direction: column;
    min-width: 100%;
  }
  #home , #about, #skills, #projects, #contuctMe{
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  
  /* section 1 - home section  */
  #home .home-heading{
    font-size: 37px;
    height: 100px;
  }

  #home .home-content,
  #about .about-content{
    min-width:100%;
    font-size: 15px;
    font-weight: 600;
  }

  #home .home-btn{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width:90%;
    gap: 20px;
  }

  #home .home-btn div{
    margin: 0%;
  }
  /* section 2 - about section  */
  #about{
    gap: 15px;
  }
  #about .about-heading,
  #skills .skills-heading,
  #projects .project-heading
  {
    font-size: 35px;
  }
  #about .about-content{
    padding-top: 0%;
  }
  #about .clock{
    margin: 50px;
  }

  /* section 3 - skills section  */
  #skills{
    gap: 15px;
  }
  
  #skills .skills-content , .skill-bars{
    min-width: 90%;
    gap: 50px;
  }

  /* section 4 - project section  */
  #projects,
  #projects .project-content {
    gap: 20px;
    padding: 0%;
    margin: 0%;
  }

  
  #projects .card, .flip-card, .card-front,
  .inside-page{
    height: 17rem;
    width: 12rem;
  }

  #projects .card:hover{
    margin: auto;
    width: 99%;
    padding-left: 30px;
  }
  .contact-details{
    max-width: 95%;
    padding: 3px;
  }
  .contact-details .inputField imput{
    max-width: 95%;
  }
}
