@media screen and (max-width:600px){
        /* *******Nav******* */
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 45px;
        background-color: #1b0f6e47;
    }
    
    nav .right{
        font-size: 0px;
    }

    nav .left{
        font-size: 1.3rem;
        font-style: italic;
        margin-left: 50px;
    }

    /* ****** First_Section ******* */

    .firstSection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #0b0533;
    }
    
    .leftSection{
        width: 35px;
        font-size: 2rem;
        padding: 100px 0px 0px 0px;
        width: 200px;
    }
    
    .leftSection h3{
        font-size: 2rem;
    }
    
    .leftSection p{
        color: #6600FF;
        font-size: 1.2rem;
    }
    
    .leftSection l{
        font-size: 1.2rem;
    }
    
    .leftSection #name{
        color: #6600FF;
    }
    
    .rightSection img{
        width: 0px;
        height: 0px;
    }
    
    /* ****** Secound_Section ******* */
    .SecoundSection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #0b0533;
        margin-bottom: 40px;
    }
    
    .SecoundSection >div{
        width: 80%;  
    }
    
    .rightSection2{
        /* width: 35px; */
        display: inline;
        flex-direction: row;
        justify-content: center;
        font-size: 2rem;
        padding: 0px 80px 0px 80px;
    
    }
    
    .rightSection2 h3{
        display: flex;
        justify-content: center;
        font-size: 2.2rem;
        color: #6600FF;
    }
    
    .rightSection2 p,table{
        font-size: 1.1rem;
    }
    
    .rightSection2 table tr td,th{
        /* border: 2px solid red; */
        margin: 10px;
    }
    
    .leftSection2 img{
        width: 0%;
        height: 0%; 
    }

    /********** education section  ***********/
    .educationsection h3{
        font-size: 2.2rem;
    }

    .educationsection #education{
        font-size: 1.1rem;
    }

    /*********** Skills Section *************/
    .skillsection h3{
        font-size: 2.2rem;
    }

    .skillsection .skills{
        font-size: 1.1rem;
    }

    /********* contact Me part **********/
    .contactsection{
        background-color: #1b0f6e47;
    }

    .contactsection h3{
        font-size: 2.2rem;
    }

}