@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cover bg-center bg-no-repeat h-screen;
    /* z-index: -1; */
    
    background-image: url("https://images.unsplash.com/photo-1528164344705-47542687000d?q=80&w=1792&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==");

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer, nav{
  background-color: #00000073;
  -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
}

.body-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(240, 240, 240, 0.253);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.no-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

section{
    overflow: hidden;
}